.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.navigation {
  display: flex;
}
