:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --alt-logo-color: #2196f3;
  --bcg-button-color: #f5f4fa;
  --bcg-color: #f5f4fa;
  --primary-white-color: #fff;
  --alt-bcg-color: #2f303a;
  --address-items-color: rgb(255, 255, 255, 0.6);
  --social-links-color-1: #afb1b8;

  --transition-duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
