.contacts {
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  margin-left: 50px;
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item + .contacts__item {
  margin-top: 10px;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (min-width: 1200px) {
    margin-left: 50px;
    margin-top: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover {
    color: var(--alt-logo-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
