.navigation__list {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

// appropriate use :not(:child)???
.navigation__item + .navigation__item {
  margin-left: 50px;
}

a,
.navigation__link {
  text-decoration: none;
}

.navigation__link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__link {
  &:hover,
  &:focus {
    color: #2196f3;

    transition: color var(--transition-duration-cubic);
  }
}

.navigation__link--current {
  position: relative;
  display: block;

  color: #2196f3;

  transition: color var(--transition-duration-cubic);

  &::after {
    content: '';

    position: absolute;
    bottom: -218%;
    left: 0;

    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--alt-logo-color);
    border-radius: 2px;
  }
}
