.clients .container {
  padding-top: 98px;
  padding-bottom: 92px;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  color: var(--primary-title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 90px;
  border: 1px var(--social-links-color-1) solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color-1);

  transition: color var(--transition-duration-cubic);

  &:hover,
  &:focus {
    color: var(--alt-logo-color);
    border-color: var(--alt-logo-color);
  }
}

.clients__icon {
  fill: currentColor;
}
