.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  color: var(--primary-title-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
  }
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients__link {
  // width: 170px;
  height: 90px;
  border: 1px var(--social-links-color-1) solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color-1);

  transition: color var(--transition-duration-cubic);

  &:hover,
  &:focus {
    color: var(--alt-logo-color);
    border-color: var(--alt-logo-color);
  }
}

.clients__icon {
  fill: currentColor;
}
