.team {
  background-color: var(--bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--primary-title-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  @media (max-width: 479px) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
  }

  @media (min-width: 480px) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
  }

  @media (min-width: 768px) {
    margin: -15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__thumb {
  height: 460px;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 374px;
  }

  @media (min-width: 1200px) {
    height: 260px;
  }
}

.team__image {
  height: 100%;
  object-fit: cover;
}

.team__member {
  padding: 30px 32px;
}

.team__member-name {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__member-pos {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
